<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'bunk/style.css' %}">
</head>
<body>
    {% if allbunks %}
        Bunks:<br/>
        {% for bunk in allbunks %}
            {{bunk}}
            <br/>
        {% endfor %}
    {% else %}
        No Bunks found 😢
    {% endif %}
</body>
</html>