<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type = "text/css" href="{% static 'bunk/bunk.css' %}">
    </head>
    <body>
        <span>
            <a href="/">🏠</a>
            <a href=""></a>
            <a href="/">👉</a>
        </span>
        <form action="{% url 'bunk:newBunk' sender%}" method="POST">
            {% csrf_token %}
            {{username}}
            <br/>
            {% for target in targets%}
                <input type = "radio" name = "target" id = "target{{forloop.counter}}" value = "{{target.id}}"/>
                <label for = "target{{forloop.counter}}">
                    {{target.username}}
                </label>
                <br/>
            {% endfor %}

            <input type="submit" name="submit" value="submit" id="submitBtn">
        </form>
    </body>

</html>