<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type = "text/css" href="{% static 'bunk/bunk.css' %}">
        <link rel="stylesheet" type = "text/css" href="{% static 'bunk/nav.css' %}">
    </head>
    <body>
        <h1>{{username}}</h1>
        <form action="{% url 'bunk:bunk' %}" method="POST">
            {% csrf_token %}
            <br/>
            {% for target in targets%}
                <label for = "target{{forloop.counter}}">
                    <input type = "radio" name = "target" id = "target{{forloop.counter}}" value = "{{target.id}}"/>
                    <img src="{{target.imgurl}}" alt="{{target.username}}">
                </label>
                <br/>
            {% endfor %}

            <input type="submit" name="submit" value="submit" id="submitBtn">
        </form>
    </body>

</html>