<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'bunk/style.css' %}">
    <link rel="stylesheet" type = "text/css" href="{% static 'bunk/nav.css' %}">
</head>

<body>
    {% if allbunks %}
        <div id = "bunkContainer">
            <h1 id = "bunkTitle">Bunks</h1>
            {% for bunk in allbunks %}
                <div class="bunk {% if forloop.counter|divisibleby:2 %}b{% else %}a{% endif %}" >
                    <span class = "timestamp_{% if forloop.counter|divisibleby:2 %}b{% else %}a{% endif %}">{{bunk.sentdate.month}}/{{bunk.sentdate.day}}/{{bunk.sentdate.year}}</span>
                    <a href="/{{bunk.sender.id}}">
                        <img class = "bunkImg" src="{{bunk.sender.imgurl}}" alt="Picture of {{bunk.sender.username}}">
                    </a>
                    
                    <span class = "bunked">BUNKED</span>

                    <a href="/{{bunk.receiver.id}}">
                        <img class = "bunkImg" src="{{bunk.receiver.imgurl}}" alt="Picture of {{bunk.receiver.username}}">
                    </a>    

                </div>
            {% endfor %}
        </div>
    {% else %}
        No Bunks found 😢
    {% endif %}
</body>
