<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'bunk/style.css' %}">

</head>
<body>
    {{% block navbar %}}
        <span>
            <a href="/">🏠</a>
            <a href=""></a>
            <a href="/">👉</a>
        </span>
    {{% endblock %}}
    
    {{% block content%}}
    {{% endblock%}}
</body>
</html>