{% load static %}
<link rel="stylesheet" type = "text/css" href="{% static 'bunk/login.css' %}">

<span id = "inputName">
    <input type="text" name="" id="name">
</span>

<form action="{% url 'bunk:login' %" id = "loginForm" method="POST">
    {% csrf_token %}
    <div id = "people">

    </div>
    <input type="submit" value="login">
</form>

<script>

    function filterUsers(users, key)
    {
        key = key.toLowerCase();
        let filter = users.filter((u) => {
            var username = u.username.toLowerCase();
            return(username.includes(key))
        })

        if(filter.length > 8)
        {
            filter = filter.slice(0, 8);
        }

        return(filter);
    }

    function updateUsers()
    {
        const key = userField.value;
        var users = {{users|safe}};
        users.sort((a, b) => {
            const aName = a.username;
            const bName = b.username;
            if(aName > bName)
            {
                return(1);
            }
            else if(aName < bName)
            {
                return(-1);
            }
            return(0);
        })
        users = filterUsers(users, key);
        const formField = document.getElementById("people");
        formField.innerHTML = '';

        users.forEach((user) => {

            label = document.createElement("label");

            btn = document.createElement("input");
            btn.setAttribute("value", user.id);
            btn.setAttribute("type", "radio");
            btn.setAttribute("alt", user.username);
            btn.setAttribute("name", "userID");

            img = document.createElement("img");
            img.setAttribute("src", user.imgurl);

            label.appendChild(btn);
            label.appendChild(img);

            formField.appendChild(label);
        })
    }

    const userField = document.getElementById("name");
    userField.addEventListener("input", (e) => {
        console.log("updating");
        updateUsers();
    }) 
    updateUsers();

</script>