<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'globals.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    
</head>
<body>
    <h1 class="home-title">Jitterbunk</h1>
    <div class="home-nav">
        {% if not user %}
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
        {% else %}
            <a href="/profile">Profile</a>
            <a href="/bunk">Bunk Someone</a>
            <a href="/bunks">See all the bunks</a>
            <a href="/bunks/{{user.id}}">See all of your bunks</a>
        {% endif %}
        
    </div>
</body>
</html>