body{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.bunkImg{
    width: 64px;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
    vertical-align: middle;
}

.bunk{
    vertical-align: middle;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    display: flex;
    margin:auto;
    margin-top: 0;
    position: relative;
    width: fit-content;
    align-items: center;
    padding: 10px;
}

h1{
    text-align: center;
}

.bunk{
    display: flex;
    align-self: center;
    align-items: center;
}

.timestamp{
    color: rgb(61, 201, 206);
    font-style: italic;
    text-align: center;
    width: 100%;
    align-self: center;
}

.nameTitle
{
    font-size: 48px;
    width: 100%;
    text-align: center;
    background-color: teal;
    margin: auto;
}

.errorText{
    color: red;
    font-size: 32px;
}

.a{
    background-color: rgb(65, 63, 63);
    color: white;
}

.b{
    background-color: rgb(200, 200, 200);
}

.timestamp_a{
    color: rgb(85, 85, 85);
    padding-left: 32px;
}

.timestamp_b{
    color: rgb(180, 180, 180);
    padding-left: 32px;
}

span .a{
    color: rgb(85, 83, 83);
}

#bunkContainer{
    margin: auto;
    width: fit-content;
    height: fit-content;
    box-shadow: 10px 10px 5px rgb(180, 180, 180);
    row-gap: 0;
}

#bunkTitle{
    background-color: rgb(200, 200, 200);
    margin: 0;
    width: 100%;
    align-self: center;
    left: 25%;
}